.app {
  width: 100%;
  text-align: center;

  &__controls {
    display: flex;

    &__selector {
      width: 50%;
      text-align: left;
      flex-direction: row;
    }

    &__zoom {
      width: 50%;
      text-align: right;
      flex-direction: row;
    }
  }

  &__image {
    background-color: gainsboro;
    position: relative;
    overflow: hidden;
  }
}
